name: Continuous Integration and Delivery

on: 
  push:
    branches:
      - main

env:
  IMAGE_NAME: guipiangers/quiro-backend

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run build
      - run: npm run test

  build:
    runs-on: ubuntu-latest
    needs: tests
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: actions/checkout@v3

      - name: Generate tag
        id: tag
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
          TAG="main-$SHORT_SHA"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Login DockerHub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" \
            --password-stdin

      - name: Build docker image
        run: |
          docker build -f Dockerfile.prod \
            -t $IMAGE_NAME:${{ steps.tag.outputs.tag }} \
            -t $IMAGE_NAME:latest .

      - name: Push image docker
        run: |
          docker push $IMAGE_NAME:${{ steps.tag.outputs.tag }}
          docker push $IMAGE_NAME:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy with webhook
        run: |
          TAG="${{ needs.build.outputs.tag }}"

          PAYLOAD=$(cat <<EOF
          {
            "image": "guipiangers/quiro-backend",
            "tag": "$TAG",
            "services": ["app"],
            "composeFile": "/home/gui_piangers/Programacao/QuiroMalu/quiro-malu-backend/docker-compose.prod.yml"
          }
          EOF
          )

          SIGNATURE=$(echo -n "$PAYLOAD" | openssl dgst -sha256 -hmac ${{ secrets.DEPLOY_SIGNATURE }} | sed 's/^.*= //')

          curl -X POST ${{ secrets.DEPLOY_URL }} \
            -H "Content-Type: application/json" \
            -H "X-Deploy-Signature: sha256=$SIGNATURE" \
            -d "$PAYLOAD"
